
@-moz-keyframes load-spinner {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes load-spinner {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes load-spinner {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load-spinner {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-viewport {
    width: device-width;
}


body:before {
    -moz-animation: load-spinner 1s infinite linear;
    -webkit-animation: load-spinner 1s infinite linear;
    -ms-animation: load-spinner 1s infinite linear;
    animation: load-spinner 1s infinite linear;
    -moz-transition: opacity 0.25s ease;
    -webkit-transition: opacity 0.25s ease;
    -ms-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    pointer-events: none;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4rem;
    height: 4rem;
    margin: -2rem 0 0 -2rem;
    background-size: 4rem;
    opacity: 0;
}

body:after {
    pointer-events: none;
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body.is-preload *, body.is-preload *:before, body.is-preload *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

body.is-preload:before {
    -moz-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease;
    -moz-transition-delay: 0.75s;
    -webkit-transition-delay: 0.75s;
    -ms-transition-delay: 0.75s;
    transition-delay: 0.75s;
    opacity: 0.25;
}

@media screen and (max-width: 736px) {

    html {
        height: auto;
    }

    body {
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
    }

}

@media screen and (max-width: 480px) {

    html, body {
        min-width: 320px;
    }

}

/* Panel */

.panel {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-align-items: -moz-stretch;
    -webkit-align-items: -webkit-stretch;
    -ms-align-items: -ms-stretch;
    align-items: stretch;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 4em;
    box-shadow: 0 2rem 4rem 0.25rem rgba(46, 43, 55, 0.575)
}

.panel > * {
    position: relative;
    min-width: 10rem;
}
.panel > *.color5 {
    background: red;
}

.panel > *.color0 {
    background: linear-gradient(45deg, #726193 20%, #e37b7c 60%, #ffe4b4);
}

.panel > *.color1 {
    background-color: #726193;
}

.panel > *.color2 {
    background-color: #e37b7c;
}

.panel > *.color3 {


    background-color: #ffe4b4;
}

.panel > *.color4 {


    background-color: #353865;
}

.panel > .intro {
    padding: 3.5rem 3.5rem 2rem 3.5rem ;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-align-items: -moz-flex-start;
    -webkit-align-items: -webkit-flex-start;
    -ms-align-items: -ms-flex-start;
    align-items: flex-start;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 22rem;
}

.panel > .intro.joined {
    width: 18.5rem;
    padding-right: 0;
}

.panel > .intro.joined + .inner {
    padding-left: 2.625rem;
}

.panel > .inner {
    padding: 3.5rem 3.5rem 2rem 3.5rem ;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-align-items: -moz-flex-start;
    -webkit-align-items: -webkit-flex-start;
    -ms-align-items: -ms-flex-start;
    align-items: flex-start;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.panel > .inner.columns {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.panel > .inner.columns > * {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    margin-left: 3.5rem;
}

.panel > .inner.columns > :first-child {
    margin-left: 0;
}

.panel > .inner.columns.divided > * {
    margin-left: 7rem;
}

.panel > .inner.columns.divided > *:before {
    content: '';
    position: absolute;
    top: 3.5rem;
    width: 2px;
    height: calc(100% - 7rem);
    margin-left: -3.5rem;
    background-color: rgba(255, 255, 255, 0.25);
}

.panel > .inner.columns.divided > :first-child {
    margin-left: 0;
}

.panel > .inner.columns.divided > :first-child:before {
    display: none;
}

.panel > .inner.columns.aligned {
    -moz-align-items: -moz-flex-start;
    -webkit-align-items: -webkit-flex-start;
    -ms-align-items: -ms-flex-start;
    align-items: flex-start;
}

.panel .span-0-25 {
    width: 2.5rem;
}

.panel .span-0-5 {
    width: 5rem;
}

.panel .span-0-75 {
    width: 7.5rem;
}

.panel .span-1 {
    width: 10rem;
}

.panel .span-1-25 {
    width: 12.5rem;
}

.panel .span-1-5 {
    width: 15rem;
}

.panel .span-1-75 {
    width: 17.5rem;
}

.panel .span-2 {
    width: 20rem;
}

.panel .span-2-25 {
    width: 22.5rem;
}

.panel .span-2-5 {
    width: 25rem;
}

.panel .span-2-75 {
    width: 27.5rem;
}

.panel .span-3 {
    width: 30rem;
}

.panel .span-3-25 {
    width: 32.5rem;
}

.panel .span-3-5 {
    width: 35rem;
}

.panel .span-3-75 {
    width: 37.5rem;
}

.panel .span-4 {
    width: 40rem;
}

.panel .span-4-25 {
    width: 42.5rem;
}

.panel .span-4-5 {
    width: 45rem;
}

.panel .span-4-75 {
    width: 47.5rem;
}

.panel .span-5 {
    width: 50rem;
}

.panel .span-5-25 {
    width: 52.5rem;
}

.panel .span-5-5 {
    width: 55rem;
}

.panel .span-5-75 {
    width: 57.5rem;
}

.panel .span-6 {
    width: 60rem;
}

.panel .span-6-25 {
    width: 62.5rem;
}

.panel .span-6-5 {
    width: 65rem;
}

.panel .span-6-75 {
    width: 67.5rem;
}

.panel .span-7 {
    width: 70rem;
}

.panel .span-7-25 {
    width: 72.5rem;
}

.panel .span-7-5 {
    width: 75rem;
}

.panel .span-7-75 {
    width: 77.5rem;
}

.panel .span-8 {
    width: 80rem;
}

.panel .span-8-25 {
    width: 82.5rem;
}

.panel .span-8-5 {
    width: 85rem;
}

.panel .span-8-75 {
    width: 87.5rem;
}

.panel .span-9 {
    width: 90rem;
}

.panel .span-9-25 {
    width: 92.5rem;
}

.panel .span-9-5 {
    width: 95rem;
}

.panel .span-9-75 {
    width: 97.5rem;
}

.panel .span-10 {
    width: 100rem;
}

.panel.small {
    width: 35rem;
}

.panel.medium {
    width: 50rem;
}

.panel.large {
    width: 65rem;
}

.panel.small .span-0-25, .panel.medium .span-0-25, .panel.large .span-0-25 {
    width: 2.5%;
}

.panel.small .span-0-5, .panel.medium .span-0-5, .panel.large .span-0-5 {
    width: 5%;
}

.panel.small .span-0-75, .panel.medium .span-0-75, .panel.large .span-0-75 {
    width: 7.5%;
}

.panel.small .span-1, .panel.medium .span-1, .panel.large .span-1 {
    width: 10%;
}

.panel.small .span-1-25, .panel.medium .span-1-25, .panel.large .span-1-25 {
    width: 12.5%;
}

.panel.small .span-1-5, .panel.medium .span-1-5, .panel.large .span-1-5 {
    width: 15%;
}

.panel.small .span-1-75, .panel.medium .span-1-75, .panel.large .span-1-75 {
    width: 17.5%;
}

.panel.small .span-2, .panel.medium .span-2, .panel.large .span-2 {
    width: 20%;
}

.panel.small .span-2-25, .panel.medium .span-2-25, .panel.large .span-2-25 {
    width: 22.5%;
}

.panel.small .span-2-5, .panel.medium .span-2-5, .panel.large .span-2-5 {
    width: 25%;
}

.panel.small .span-2-75, .panel.medium .span-2-75, .panel.large .span-2-75 {
    width: 27.5%;
}

.panel.small .span-3, .panel.medium .span-3, .panel.large .span-3 {
    width: 30%;
}

.panel.small .span-3-25, .panel.medium .span-3-25, .panel.large .span-3-25 {
    width: 32.5%;
}

.panel.small .span-3-5, .panel.medium .span-3-5, .panel.large .span-3-5 {
    width: 35%;
}

.panel.small .span-3-75, .panel.medium .span-3-75, .panel.large .span-3-75 {
    width: 37.5%;
}

.panel.small .span-4, .panel.medium .span-4, .panel.large .span-4 {
    width: 40%;
}

.panel.small .span-4-25, .panel.medium .span-4-25, .panel.large .span-4-25 {
    width: 42.5%;
}

.panel.small .span-4-5, .panel.medium .span-4-5, .panel.large .span-4-5 {
    width: 45%;
}

.panel.small .span-4-75, .panel.medium .span-4-75, .panel.large .span-4-75 {
    width: 47.5%;
}

.panel.small .span-5, .panel.medium .span-5, .panel.large .span-5 {
    width: 50%;
}

.panel.small .span-5-25, .panel.medium .span-5-25, .panel.large .span-5-25 {
    width: 52.5%;
}

.panel.small .span-5-5, .panel.medium .span-5-5, .panel.large .span-5-5 {
    width: 55%;
}

.panel.small .span-5-75, .panel.medium .span-5-75, .panel.large .span-5-75 {
    width: 57.5%;
}

.panel.small .span-6, .panel.medium .span-6, .panel.large .span-6 {
    width: 60%;
}

.panel.small .span-6-25, .panel.medium .span-6-25, .panel.large .span-6-25 {
    width: 62.5%;
}

.panel.small .span-6-5, .panel.medium .span-6-5, .panel.large .span-6-5 {
    width: 65%;
}

.panel.small .span-6-75, .panel.medium .span-6-75, .panel.large .span-6-75 {
    width: 67.5%;
}

.panel.small .span-7, .panel.medium .span-7, .panel.large .span-7 {
    width: 70%;
}

.panel.small .span-7-25, .panel.medium .span-7-25, .panel.large .span-7-25 {
    width: 72.5%;
}

.panel.small .span-7-5, .panel.medium .span-7-5, .panel.large .span-7-5 {
    width: 75%;
}

.panel.small .span-7-75, .panel.medium .span-7-75, .panel.large .span-7-75 {
    width: 77.5%;
}

.panel.small .span-8, .panel.medium .span-8, .panel.large .span-8 {
    width: 80%;
}

.panel.small .span-8-25, .panel.medium .span-8-25, .panel.large .span-8-25 {
    width: 82.5%;
}

.panel.small .span-8-5, .panel.medium .span-8-5, .panel.large .span-8-5 {
    width: 85%;
}

.panel.small .span-8-75, .panel.medium .span-8-75, .panel.large .span-8-75 {
    width: 87.5%;
}

.panel.small .span-9, .panel.medium .span-9, .panel.large .span-9 {
    width: 90%;
}

.panel.small .span-9-25, .panel.medium .span-9-25, .panel.large .span-9-25 {
    width: 92.5%;
}

.panel.small .span-9-5, .panel.medium .span-9-5, .panel.large .span-9-5 {
    width: 95%;
}

.panel.small .span-9-75, .panel.medium .span-9-75, .panel.large .span-9-75 {
    width: 97.5%;
}

.panel.small .span-10, .panel.medium .span-10, .panel.large .span-10 {
    width: 100%;
}

.panel.color0 {
    background: linear-gradient(45deg, #726193 20%, #e37b7c 60%, #ffe4b4);
}

.panel.color1 {
    background-color: #726193;
}

.panel.color2 {
    background-color: #e37b7c;
}

.panel.color3 {
    background-color: #ffe4b4;
}

.panel.color4 {
    background-color: #353865;
}
.panel.color5 {
    background-color: white;
    color: #3B4346;
}


@media screen and (max-width: 736px) {

    .panel {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }

    .panel > .intro {
        padding: 2.8875rem 1.75rem 1.3875rem 1.75rem ;
        width: 100% !important;
    }

    .panel > .intro.joined {
        padding-bottom: 0;
        padding-right: 1.75rem;
    }

    .panel > .intro.joined + .inner {
        padding-top: 0;
        padding-left: 1.75rem;
    }

    .panel > .inner {
        padding: 2.8875rem 1.75rem 1.3875rem 1.75rem ;
    }

    .panel > .inner.columns {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .panel > .inner.columns > * {
        margin-left: 0;
        margin-top: 0;
    }

    .panel > .inner.columns > :first-child {
        margin-top: 0;
    }

    .panel > .inner.columns.divided > * {
        margin-left: 0;
        margin-top: 3.5rem;
    }

    .panel > .inner.columns.divided > *:before {
        content: '';
        position: absolute;
        top: auto;
        left: 1.75rem;
        width: calc(100% - 3.5rem);
        height: 2px;
        margin-left: 0;
        margin-top: -1.75rem;
    }

    .panel > .inner.columns.divided > :first-child {
        margin-top: 0;
    }

    .panel .span-0-25 {
        width: 100%;
    }

    .panel .span-0-5 {
        width: 100%;
    }

    .panel .span-0-75 {
        width: 100%;
    }

    .panel .span-1 {
        width: 100%;
    }

    .panel .span-1-25 {
        width: 100%;
    }

    .panel .span-1-5 {
        width: 100%;
    }

    .panel .span-1-75 {
        width: 100%;
    }

    .panel .span-2 {
        width: 100%;
    }

    .panel .span-2-25 {
        width: 100%;
    }

    .panel .span-2-5 {
        width: 100%;
    }

    .panel .span-2-75 {
        width: 100%;
    }

    .panel .span-3 {
        width: 100%;
    }

    .panel .span-3-25 {
        width: 100%;
    }

    .panel .span-3-5 {
        width: 100%;
    }

    .panel .span-3-75 {
        width: 100%;
    }

    .panel .span-4 {
        width: 100%;
    }

    .panel .span-4-25 {
        width: 100%;
    }

    .panel .span-4-5 {
        width: 100%;
    }

    .panel .span-4-75 {
        width: 100%;
    }

    .panel .span-5 {
        width: 100%;
    }

    .panel .span-5-25 {
        width: 100%;
    }

    .panel .span-5-5 {
        width: 100%;
    }

    .panel .span-5-75 {
        width: 100%;
    }

    .panel .span-6 {
        width: 100%;
    }

    .panel .span-6-25 {
        width: 100%;
    }

    .panel .span-6-5 {
        width: 100%;
    }

    .panel .span-6-75 {
        width: 100%;
    }

    .panel .span-7 {
        width: 100%;
    }

    .panel .span-7-25 {
        width: 100%;
    }

    .panel .span-7-5 {
        width: 100%;
    }

    .panel .span-7-75 {
        width: 100%;
    }

    .panel .span-8 {
        width: 100%;
    }

    .panel .span-8-25 {
        width: 100%;
    }

    .panel .span-8-5 {
        width: 100%;
    }

    .panel .span-8-75 {
        width: 100%;
    }

    .panel .span-9 {
        width: 100%;
    }

    .panel .span-9-25 {
        width: 100%;
    }

    .panel .span-9-5 {
        width: 100%;
    }

    .panel .span-9-75 {
        width: 100%;
    }

    .panel .span-10 {
        width: 100%;
    }

    .panel.small, .panel.medium, .panel.large {
        width: 100% !important;
    }

    .panel.small .span-0-25, .panel.medium .span-0-25, .panel.large .span-0-25 {
        width: 100%;
    }

    .panel.small .span-0-5, .panel.medium .span-0-5, .panel.large .span-0-5 {
        width: 100%;
    }

    .panel.small .span-0-75, .panel.medium .span-0-75, .panel.large .span-0-75 {
        width: 100%;
    }

    .panel.small .span-1, .panel.medium .span-1, .panel.large .span-1 {
        width: 100%;
    }

    .panel.small .span-1-25, .panel.medium .span-1-25, .panel.large .span-1-25 {
        width: 100%;
    }

    .panel.small .span-1-5, .panel.medium .span-1-5, .panel.large .span-1-5 {
        width: 100%;
    }

    .panel.small .span-1-75, .panel.medium .span-1-75, .panel.large .span-1-75 {
        width: 100%;
    }

    .panel.small .span-2, .panel.medium .span-2, .panel.large .span-2 {
        width: 100%;
    }

    .panel.small .span-2-25, .panel.medium .span-2-25, .panel.large .span-2-25 {
        width: 100%;
    }

    .panel.small .span-2-5, .panel.medium .span-2-5, .panel.large .span-2-5 {
        width: 100%;
    }

    .panel.small .span-2-75, .panel.medium .span-2-75, .panel.large .span-2-75 {
        width: 100%;
    }

    .panel.small .span-3, .panel.medium .span-3, .panel.large .span-3 {
        width: 100%;
    }

    .panel.small .span-3-25, .panel.medium .span-3-25, .panel.large .span-3-25 {
        width: 100%;
    }

    .panel.small .span-3-5, .panel.medium .span-3-5, .panel.large .span-3-5 {
        width: 100%;
    }

    .panel.small .span-3-75, .panel.medium .span-3-75, .panel.large .span-3-75 {
        width: 100%;
    }

    .panel.small .span-4, .panel.medium .span-4, .panel.large .span-4 {
        width: 100%;
    }

    .panel.small .span-4-25, .panel.medium .span-4-25, .panel.large .span-4-25 {
        width: 100%;
    }

    .panel.small .span-4-5, .panel.medium .span-4-5, .panel.large .span-4-5 {
        width: 100%;
    }

    .panel.small .span-4-75, .panel.medium .span-4-75, .panel.large .span-4-75 {
        width: 100%;
    }

    .panel.small .span-5, .panel.medium .span-5, .panel.large .span-5 {
        width: 100%;
    }

    .panel.small .span-5-25, .panel.medium .span-5-25, .panel.large .span-5-25 {
        width: 100%;
    }

    .panel.small .span-5-5, .panel.medium .span-5-5, .panel.large .span-5-5 {
        width: 100%;
    }

    .panel.small .span-5-75, .panel.medium .span-5-75, .panel.large .span-5-75 {
        width: 100%;
    }

    .panel.small .span-6, .panel.medium .span-6, .panel.large .span-6 {
        width: 100%;
    }

    .panel.small .span-6-25, .panel.medium .span-6-25, .panel.large .span-6-25 {
        width: 100%;
    }

    .panel.small .span-6-5, .panel.medium .span-6-5, .panel.large .span-6-5 {
        width: 100%;
    }

    .panel.small .span-6-75, .panel.medium .span-6-75, .panel.large .span-6-75 {
        width: 100%;
    }

    .panel.small .span-7, .panel.medium .span-7, .panel.large .span-7 {
        width: 100%;
    }

    .panel.small .span-7-25, .panel.medium .span-7-25, .panel.large .span-7-25 {
        width: 100%;
    }

    .panel.small .span-7-5, .panel.medium .span-7-5, .panel.large .span-7-5 {
        width: 100%;
    }

    .panel.small .span-7-75, .panel.medium .span-7-75, .panel.large .span-7-75 {
        width: 100%;
    }

    .panel.small .span-8, .panel.medium .span-8, .panel.large .span-8 {
        width: 100%;
    }

    .panel.small .span-8-25, .panel.medium .span-8-25, .panel.large .span-8-25 {
        width: 100%;
    }

    .panel.small .span-8-5, .panel.medium .span-8-5, .panel.large .span-8-5 {
        width: 100%;
    }

    .panel.small .span-8-75, .panel.medium .span-8-75, .panel.large .span-8-75 {
        width: 100%;
    }

    .panel.small .span-9, .panel.medium .span-9, .panel.large .span-9 {
        width: 100%;
    }

    .panel.small .span-9-25, .panel.medium .span-9-25, .panel.large .span-9-25 {
        width: 100%;
    }

    .panel.small .span-9-5, .panel.medium .span-9-5, .panel.large .span-9-5 {
        width: 100%;
    }

    .panel.small .span-9-75, .panel.medium .span-9-75, .panel.large .span-9-75 {
        width: 100%;
    }

    .panel.small .span-10, .panel.medium .span-10, .panel.large .span-10 {
        width: 100%;
    }

    .panel.color1 {


        background-color: #726193;
    }

    .panel.color2 {


        background-color: #e37b7c;
    }

    .panel.color3 {


        background-color: #ffe4b4;
    }

    .panel.color4 {


        background-color: #353865;
    }



}

/* Panel (Banner) */

.panel.banner {
    -moz-align-items: -moz-stretch;
    -webkit-align-items: -webkit-stretch;
    -ms-align-items: -ms-stretch;
    align-items: stretch;
}

.panel.banner .content {
    padding: 3.5rem 3.5rem 2rem 3.5rem ;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    overflow-y: auto;
}

.panel.banner .content > .actions:last-child {
    margin-bottom: 0;
}

.panel.banner .image {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    position: relative;
}

.panel.banner .image img {
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.panel.banner.left {
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.panel.banner.right {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

@media screen and (max-width: 736px) {

    .panel.banner .content {
        padding: 2.8875rem 1.75rem 1.3875rem 1.75rem ;
        -moz-flex-basis: 60%;
        -webkit-flex-basis: 60%;
        -ms-flex-basis: 60%;
        flex-basis: 60%;
    }

    .panel.banner .content > .actions:last-child {
        margin-bottom: 1.5rem;
    }

    .panel.banner .image {
        -moz-flex-basis: 40%;
        -webkit-flex-basis: 40%;
        -ms-flex-basis: 40%;
        flex-basis: 40%;
    }

}

@media screen and (max-width: 736px) and (orientation: portrait) {

    .panel.banner .content {
        -moz-flex-basis: auto;
        -webkit-flex-basis: auto;
        -ms-flex-basis: auto;
        flex-basis: auto;
    }

    .panel.banner .image {
        -moz-flex-basis: auto;
        -webkit-flex-basis: auto;
        -ms-flex-basis: auto;
        flex-basis: auto;
        height: 18rem;
    }

    .panel.banner.left {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .panel.banner.right {
        -moz-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

}

/* Panel (Spotlight) */

.panel.spotlight {
    -moz-align-items: -moz-stretch;
    -webkit-align-items: -webkit-stretch;
    -ms-align-items: -ms-stretch;
    align-items: stretch;
    position: relative;
}

.panel.spotlight > * {
    z-index: 1;
}

.panel.spotlight .content {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    padding: 3.5rem 3.5rem 2rem 3.5rem ;
}

.panel.spotlight .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.panel.spotlight .image img {
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    -ms-object-fit: cover;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.panel.spotlight.left {
    -moz-justify-content: -moz-flex-start;
    -webkit-justify-content: -webkit-flex-start;
    -ms-justify-content: -ms-flex-start;
    justify-content: flex-start;
}

.panel.spotlight.left .content {
    background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.125) 30%, rgba(0, 0, 0, 0.175) 50%);
}

.panel.spotlight.right {
    -moz-justify-content: -moz-flex-end;
    -webkit-justify-content: -webkit-flex-end;
    -ms-justify-content: -ms-flex-end;
    justify-content: flex-end;
}

.panel.spotlight.right .content {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.125) 30%, rgba(0, 0, 0, 0.175) 50%);
}

@media screen and (max-width: 736px) {
    .panel{
        margin-left: 0px;
    }

    .panel.spotlight .content {
        padding: 2.8875rem 1.75rem 1.3875rem 1.75rem ;
        -moz-flex-direction: column !important;
        -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 70%, rgba(0, 0, 0, 0.175)) !important;
        min-height: 25rem;
    }

}

@media screen and (max-width: 480px) {
    .panel{
        margin-left: 0px;
    }

    .panel.spotlight .content {
        min-height: 30rem;
    }

}

/* Page Wrapper */



#page-wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: -moz-flex-start;
    -webkit-justify-content: -webkit-flex-start;
    -ms-justify-content: -ms-flex-start;
    justify-content: flex-start;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    height: 100%;
    padding: 10rem 0 0 0;

}

@media screen and (orientation: portrait) {

    #page-wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

@media screen and (min-aspect-ratio: 16 / 7) {

    #page-wrapper {
        padding: 6vh;
    }

}

@media screen and (min-aspect-ratio: 16 / 6) {

    #page-wrapper {
        padding: 0;
    }

}

@media screen and (max-width: 736px) {

    #page-wrapper {
        height: auto;
        padding: 1rem;
    }

}

@media screen and (max-width: 480px) {

    #page-wrapper {
        padding: 0;
    }

}

/* Wrapper */

#wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -moz-transition: opacity 1s ease-out, -moz-transform 0.75s ease-out;
    -webkit-transition: opacity 1s ease-out, -webkit-transform 0.75s ease-out;
    -ms-transition: opacity 1s ease-out, -ms-transform 0.75s ease-out;
    transition: opacity 1s ease-out, transform 0.75s ease-out;
    -moz-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    transition-delay: 0.25s;
    cursor: default;
    position: relative;
    height: 32rem;
}

#wrapper > .scrollZone {
    position: fixed;
    width: 6rem;
    height: inherit;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: -ms-grab;
    cursor: grab;
    z-index: 10100;
}

#wrapper > .scrollZone.left {
    left: 0;
}

#wrapper > .scrollZone.right {
    right: 0;
}

#wrapper > .copyright {
    position: absolute;
    bottom: -3rem;
    right: 0;
    font-size: 0.8rem;
    color: rgba(46, 43, 55, 0.375);
    margin-bottom: 0;
}

#wrapper > .copyright a:hover {
    color: inherit;
}

#wrapper.is-dragging {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: -ms-grab;
    cursor: grab;
}

#wrapper.is-dragging * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#wrapper.is-dragging *:not(a, .image) {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: -ms-grab;
    cursor: grab;
}

#wrapper.is-dragged * {
    pointer-events: none;
}

body.is-preload #wrapper {
    -moz-transform: translateX(2rem);
    -webkit-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    transform: translateX(2rem);
    opacity: 0;
}

@media screen and (max-width: 736px) {

    #wrapper {
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
        margin: 0 0 5rem 0;
        box-shadow: 0 0.25rem 1.5rem 0.25rem rgba(46, 43, 55, 0.5);
    }

    #wrapper > .scrollZone {
        display: none;
    }

    #wrapper > .copyright {
        display: block;
        width: 100%;
        text-align: center;
    }

    body.is-preload #wrapper {
        -moz-transform: translateY(1rem);
        -webkit-transform: translateY(1rem);
        -ms-transform: translateY(1rem);
        transform: translateY(1rem);
    }

}

@media screen and (max-width: 480px) {

    #wrapper {
        box-shadow: none;
    }

    body.is-preload #wrapper {
        -moz-transform: none;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

}


/* liwei */
#header {
    position: fixed;
    margin-top: 0px;
    width: 100%;
}